<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>akashic-storage</title>
    <meta name="description" content="Welcome come to akashic-storage open server!">
  </head>
  <body>
    <figure><img style="width: 192px;" src="logo-transparent.png"></figure>

    <p>Welcome come to akashic-storage open server!</p>

    <p>I created your user account:</p>

    <ul>
      <li>Id          = <%= @id %></li>
      <li>AccessKey   = <%= @access_key %></li>
      <li>SecretKey   = <%= @secret_key %></li>
      <li>Name        = NONE</li>
      <li>Email       = NONE</li>
      <li>DisplayName = NONE</li>
    </ul>

    <p>
      NONE values are optional. If neccesary, you can set your Name, Email and DisplayName by<br>
      $ curl -X PUT <%= @ip %>:<%= @port %>/<%= @id %>?name=****&email=****&display-name=****
    </p>
    <p>
      You can use these account info to setup your client tools.<br>
      Particularly if you are interested in <a href="https://github.com/minio/mc">minio/mc</a> command line tool,
      please visit the README and spare a minutes to install.
    <p> 
      And to configure mc, please run<br>
      $ mc config host add akashic-storage http://<%= @ip %>:10946 <%= @access_key %> <%= @secret_key %> S3v2
    </p>  
  </body>
</html>
